#pantallaPresentecionEmparejamiento {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    /* display: flex; */
    color: #aaa;
    z-index: 1;

}

#pantallaPresentecionEmparejamiento.show {
    display: flex;
}

#fondoPresentacion {
    width: 100%;
    z-index: 0;
    position: absolute;
}

#personajePresentacion,
#personajePresentacionExpresion {
    position: absolute;
    height: 75%;
    bottom: 0;
    opacity: 0;
}

#personajePresentacion.show,
#personajePresentacionExpresion.show {
    opacity: 1;
}

/* /// IMAGENES */

#divImgPresentacion1,
#divImgPresentacion2 {
    /* border: 1px solid red; */
    position: absolute;
    width: 32%;
    height: 52%;
    left: 4%;
    overflow: hidden;
    background-color: white;
    display: flex;
    top: 10%;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 20px;
    border: 5px solid brown;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, width 0.8s, height 0.8s;
    /* transition: 0.4s; */
}

#divImgPresentacion1.show,
#divImgPresentacion2.show {
    opacity: 1;
    pointer-events: all;
}

#divImgPresentacion1.big,
#divImgPresentacion2.big {
    top: 50%;
    width: 42%;
    height: 70%;
    transform: translateY(-45%);
}

#divImgPresentacion2 {
    /* border: 3px solid green; */
    left: unset;
    right: 4%;
}

#imgPresentacion1,
#imgPresentacion2 {
    object-fit: cover;
    /* height: 200%; */
    width: 100%;
    /* padding: 20px; */
    /* border: 10px solid greenyellow !important; */

}

#divImgPresentacion1.correcta,
#divImgPresentacion2.correcta {
    animation-name: borderAnimation2;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes borderAnimation2 {
    0% {
        border-color: #00ff00;
    }

    50% {
        border-color: brown;
    }

    100% {
        border-color: #00ff00;
    }
}

/* //////// FEEDBACK */
#divFeedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: #111111aa;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divFeedback.show {
    opacity: 1;
}

#divFeedback img {
    width: 20%;
    height: 34%;
    /* width: 100%; */
    display: none;
}

#divFeedback img.show {
    display: block;
}

/* /// ESTRELLASS  */
#imgEstrellaSuelta {
    position: fixed;
    z-index: 11;
    /* width: 20vh; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
}

#imgEstrellaSuelta.show {
    opacity: 1;
}

#contador_estrellas_1,
#contador_estrellas_2,
#contador_estrellas_3 {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    /* transition: 0.4s; */
}

#contador_estrellas_1.show,
#contador_estrellas_2.show,
#contador_estrellas_3.show {
    opacity: 1;
}

#btnDespausar_1,
#btnDespausar_2 {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 25%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    /* transition: 0.4s; */
}

#btnDespausar_1.show,
#btnDespausar_2.show {
    opacity: 1;
    pointer-events: all;
}

/* /// */
#divIndexItem {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: none;
}

/* ////////////////////// */
#cortinaGral {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #002244bb;
    opacity: 0; 
    pointer-events: none;
    transition: 0.2s;
}

#cortinaGral.show {
    opacity: 1;
    pointer-events: all;
}

/* ///////////////// */
#imgConfeti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

#imgConfeti.show {
    opacity: 1;
}

