#menuContainer {
    /* border: 1px solid orange; */
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    height: var(--alto-menu);

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    color: white;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

#menuContainer.show {
    opacity: 1;
    pointer-events: all;

}

.menuItem {
    text-transform: uppercase;
    font-size: 14px;
    /* border: 1px solid greenyellow; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    padding-top: 15px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    /* margin: 0 5px; */
}

.menuItem.selected {
    border-bottom: 5px solid var(--color1);
    transition: 0.4s border;

}

.tab {
    /* border: 1px solid green; */
    display: none;

    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    /* border: 10px solid blue; */
    /* height: calc(100% - var(--alto-menu)); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    top: var(--alto-menu);

}

.tab.show {
    /* border: 2px solid red; */

    display: flex;
}

.btnEscape {
    position: absolute;
    width: 100px;
    height: calc(var(--alto-menu) * 1.1);
    /* top: calc(var(--alto-menu) * -1); */
    top: 0;

    left: 0;
    /* padding: 50px 50px; */
    display: none;
    z-index: 10;
}

.btnEscape.show {
    display: block;
}

#btnEscape0 {
    /* background-color: blue; */
    /* border: 1px solid blue; */
    left: auto;
    right: 0;
}

#btnEscape1 {
    background-color: red;
}

/* #btnMenu {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    height: var(--alto-menu);
    cursor: pointer;

}

#btnMenu > img {
    width: var(--alto-menu);
    padding: 10px;
} */


/* ////////////////////////////////////////// */
/* /////////// */
#menuActividad {
    position: fixed;
    top: 0 !important;
    left: 0;
    /* height: 10%; */
    width: fit-content;
    padding: 15px 30px;
    overflow: hidden;
    background-color: #00000099;
    border-radius: 0 0 10px;
    z-index: 102;
    display: flex;
    flex-direction: row;
    gap: 15px;
    transition: 0.4s;
    transform: translateY(-99%);
}

#menuActividad.show {
    transform: translateY(0%);
}

#menuActividad>div {
    background: var(--color1);
    font-family: Helvetica, sans-serif;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btnVolverAlInicio {
    background-color: var(--color2) !important;
}

#btnMostrarMenuActividad {
    /* border: 1px solid red; */
    z-index: 101;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    height: 10%;
    text-align: center;
    cursor: pointer;
    /* background-color: #ff000099; */
    opacity: 0;
    color: transparent;
    pointer-events: none;
}

#btnMostrarMenuActividad:active {
    /* border: 1px solid red; */
}

#btnMostrarMenuActividad.show {
    opacity: 1;
    pointer-events: all;
}