#pantallaAdmin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid blue; */
    /* height: calc(100% - var(--alto-menu)); */
    /* top: var(--alto-menu); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    color: #ccc;
    z-index: 1;

    background-color: #333;

}

#pantallaAdmin.show {
    display: flex;
}

#tituloTarea {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    columns: white;
}

#formulario {
    border-radius: 5px;
    border: 1px solid #ffffff55;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    margin: 20px;
    /* color: white; */
}

#formulario>.label {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 3px;
}

#formulario>.label:first-child {
    margin-top: 0;
}

#formulario>input {
    width: 100%;
    /* margin-top: 10px; */
    font-size: 16px;
}

#comboListas {
    font-size: 18px;
    /* margin: 20px 0; */
}

#btnEmpezar {
    background-color: #0066ff;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 60px;
    /* margin: 20px 0; */
    cursor: pointer;
}

#btnTest,
#btnCargarLista {
    background-color: mediumvioletred;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    width: fit-content;
    display: none;
}

/* //// */
#tabRegistros {
    /* background-color: #dd6666; */
    width: 100%;
    padding-top: calc(var(--alto-menu)*1.5);

}

#containerModalRegistro{
    padding-top:calc(var(--alto-menu)*1.5) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  #containerFiltro{
    width: calc(100% - 30px);
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #containerFiltro > input {
    width: 30%;
  }

#listaRegistros {
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 90%;
    /* padding: 5px 10px; */

    border: 1px solid #777;
    border-radius: 5px;
    /* height: 300px; */
    height: 99%;
    /* margin-top: calc(var(--alto-menu)*1.5); */
    margin-top: 20px;

    margin-bottom: calc(var(--alto-menu)*0.5);
    overflow-y: scroll;
    overflow-x: hidden;

    /* color: white; */
}

#listaRegistros>.fila {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}

#listaRegistros>.fila:first-child {
    padding: 5px 0;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    position: relative;
}

#listaRegistros>.fila:nth-child(odd) {
    background-color: #00000033;
}

#listaRegistros>.fila>.celda {
    /* border: 1px solid greenyellow; */
    width: 100%;
    /* color: #ccc; */
    padding: 1px 10px;
}

.celda:nth-child(1) {
    width: 20% !important;
}

.celda:nth-child(2) {
    width: 30% !important;
}

.celda:nth-child(3) {
    width: 10% !important;
}

.celda:nth-child(4) {
    width: 40% !important;
}

.btnGuardarRegistro {
    position: absolute;
    /* width: 15px; */
    /* top: 0; */
    padding: 10px 5px;
    height: 15px;
    background-color: var(--color1);
    right: 20px;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btnBorrarRegistro {
    position: absolute;
    /* width: 15px; */
    /* top: 0; */
    padding: 10px 5px;
    height: 15px;
    background-color: var(--color2);
    right: 60px;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}