:root {
    --transiciones: 0.4s;
}

#pantallaActividad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid greenyellow; */
    display: none;
    /* display: flex; */
    color: #aaa;

}

#pantallaActividad.show {
    display: flex;
}


#defaultCanvas0 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); */
    display: none;
}


#cortinas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;

    /* display: none; */
    transition: background-color var(--transiciones);
    pointer-events: none;
}

#cortinas.close {
    pointer-events: all;
    background-color: #000000dd;

}

.cortina {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    transition: transform 1.2s ease-in-out;
    background-color: #000000;

    display: none;
}

#cortina_izq {
    /* left: -25%; */
    /* left: 0; */
    transform: translate(-100%, 0)
}

#cortina_der {
    left: auto;
    right: 0%;
    transform: translate(100%, 0)
}

/* #cortinas.close>#cortina_izq,
#cortinas.close>#cortina_der {
    transform: translate(0%, 0)
} */


/* /// */
.imagenes {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.imgContainer {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150%;
    padding: 10px;
    position: relative;
}

#imagen1,
#imagen2
/* #imgPresentacion1, */
/* #imgPresentacion2  */
{
    position: relative;
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 20px;

    border: 5px solid #ffff0000;
    pointer-events: none;

}

#imagen1.presionable,
#imagen2.presionable {
    pointer-events: all;

    /* border: 5px solid #ffff00; */
    animation-name: borderAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#imagen1.pressed,
#imagen2.pressed {
    border: 10px solid #00ff00;
}

/* .imgContainer > img ,
#imagen2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #ffff0099;
    z-index: 100;
    border: 10px solid red;
    color: red;
} */

@keyframes borderAnimation {
    0% {
        border-color: #ffff00;
    }

    50% {
        border-color: #ffff0000;
    }

    100% {
        border-color: #ffff00;
    }
}

#dummyImages {
    width: 100%;
    /* border: 1px solid orange; */
    height: 100px;
    display: none;
}

/* //////////////////// */

#caratulaInicioActividad,
#caratulaFinActividad {
    background-color: #000000ee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 200;
}

#caratulaInicioActividad.show,
#caratulaFinActividad.show {
    display: flex;
}

#btnInicioActividad,
#btnVolver {
    background-color: #0066ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    width: fit-content;
}

#btnVolver {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    display: none;
}

#btnVolver.show {
    display: block;
}


/* /// */
#caratulaFinActividad #texto {
    color: white;
    font-size: 18px;
}

#guardandoDatos {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
    display: none;
}

#guardandoDatos.show {
    display: block;
}


/* ////  */
#divOracion {
    position: absolute;
    top: 6%;
    font-size: 20px;
}

#avisosCuelgue {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 10px;
}

/* /// TRANSICIONES */
#divTransicionEntreItems,
#divDiciendoFrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    /* display: none; */
    opacity: 0;
    /* transition: var(--transiciones); */

    color: white;
    font-size: 18px;
    text-align: center;
}

#divTransicionEntreItems.show,
#divDiciendoFrase.show {
    /* display: block; */
    opacity: 1;
}

#divTransicionEntreItems img {
    border-radius: 20px;
}

#divDiciendoFrase img {
    max-width: 200px;
    max-height: 200px;
    filter: invert(1);
}