/* GALAXY tab A8 1920*1200px */
:root {
    --galaxy-width: 1920px;
    --galaxy-height: 1200px;
    /* --main-width: calc(var(--galaxy-width)*0.5);
    --main-height: calc(var(--galaxy-height)*0.5); */
    --main-width: min(99vw, 1200px);
    --main-height: calc(var(--main-width)*0.6) !important;

    --alto-menu: 50px;

    --color1: #0055ee;
    --color2: #dd0055;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html {
    background-color: black;
}

body {
    width: 100%;
    height: 100vh;
}

.version {
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
    z-index: 123456789;
    pointer-events: none;
    font-size: 14px;
}

body,
html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    /* background-color: #f0f0f0; */
    /* Solo para referencia visual */
    overflow: hidden;

}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#aspectRatioWrapper {
    overflow: hidden;

    position: absolute;
    width: 100%;
    padding-top: 56.25%;
    top: 50%;
    transform: translate(0, -50%);
    /* 9 dividido por 16 (aspecto 16:9) */
}


#mainContainer {
    background-color: #333;

    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* width: var(--main-width);
    height: var(--main-height); */

    font-family: Helvetica, sans-serif;

    /* position: relative;
    width: 100%;
    padding-bottom: 56.25%; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 9 dividido por 16 (aspecto 16:9) */
}


/* ///// ///////////// */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000ee;
    color: white;
    display: none;

}

#loader.show {
    display: block;
}

#loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: row; */
}



/* ///////////   PASSWORD /////////////////////// */
#containerPassword {
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dd005555;
    z-index: 123456789;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}

#containerPassword.show {
    display: flex;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    z-index: 10000;
}

#passwordText {
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-bottom: 20px;
}

#pass {
    font-size: 18px;
}

#imgTest{
    /* border: 2px solid red; */
    /* width: 220px; */
    /* height: 220px; */
}