:root {
  --alto-menu: 50px;

  --color1: #0055ee;
  --color2: #dd0055;
}

* {
  font-family: Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #000;
}

#mainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

#containerPantallaDeInicio {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

#containerImagenPantallaInicio {
  position: absolute;
  /* border: 10px solid red; */
  width: 100%;
  /* max-width: 80vw; */
  aspect-ratio: 16 / 9;
}

#containerImagenPantallaInicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Asegura que la imagen se ajuste al contenedor sin deformarse */

}

#containerPantallaDeInicio .opcion {
  /* margin: 20px; */
  padding: 20px;
  border-radius: 10px;
  /* min-width: 200px; */
  width: 20%;
  height: 16%;
  text-align: center;
  background-color: #5555cc;
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 82%;
  top: 56%;
  opacity: 0;
}

#containerPantallaDeInicio .opcion:nth-child(2) {
  top: 55%;
  left: 18%;
}

#containerPantallaDeInicio .opcion:hover {
  background-color: #6666cc;
}

#containerSenalar {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

#containerSenalar.show,
#containerPantallaDeInicio.show {
  opacity: 1;
  pointer-events: all;
}

/* //////////////////////////////////// */
#containerFormulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  display: none;
  flex-direction: column;

}

#tituloTarea {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#containerCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  display: none;
}

#containerFormulario.show,
#containerCanvas.show {
  opacity: 1;
  pointer-events: all;
  display: flex;

}

#formulario {
  border-radius: 5px;
  border: 1px solid #ffffff55;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  margin: 20px;
  color: #ccc;

}

#formulario>.label {
  margin-top: 25px;
  font-size: 14px;
  margin-bottom: 3px;
}

#formulario>.label:first-child {
  margin-top: 0;
}

#formulario>input,
#formulario>textarea {
  width: 100%;
  font-size: 16px;
}

#comboListas {
  font-size: 18px;
}

#btnSubmit {
  background-color: #0066ff;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  margin-top: 60px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

/* /////////////////////////////////////////////////  */
#p5_loading {
  display: none;
}

#containerProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: #000055;
  border: 2px solid #3333dd;
  display: flex;
  align-items: center;
  justify-content: baseline;
  /* padding: 5px; */
  border-radius: 10px;
  display: none;

}

#containerProgress.show {
  display: flex;
}

#progressBar {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 0%;
  height: 100%;
  border-radius: 10px;

  background-color: #3333dd;
  /* transform: scaleX(50%); */
}

/* ///////////////////////////// */
#containerHud {
  position: fixed;
  bottom: 0;
  background-color: #000;
  padding: 2px;
  font-size: 14px;
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  pointer-events: none;
  z-index: 1;
  display: none;
  /* display: none !important; */

}

#containerHud div {
  width: 50%;
  border: 1px solid #ffffff55;
}

/* //////////////////////////////////////////////////////////////////// */

/* ///////////////////////////// */
#containerMenu {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #00000099; */
  display: flex;

  justify-content: flex-end;
  /* padding: 10px; */
  /* display: none; */
  display: none;
}

#containerMenu div

/* #btnRegistros,
#btnOpciones  */
  {
  width: fit-content;
  padding: 15px 20px;
  background-color: #5555cc;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* #btnRegistros,
#btnOpciones {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100000;
}
#btnOpciones {
  left: 130px;
} */

#containerMenu div:hover

/* #btnRegistros:hover  */
  {
  background-color: #6666cc;
}

#containerMenu div.pressed

/* #btnRegistros.pressed  */
  {
  background-color: #cc66cc;
}

#btnTest {
  display: none;
}

#containerOpciones {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  z-index: 100000;
}

.opcionMenu {
  padding: 10px 15px;
  cursor: pointer;
}

#containerOpciones>.selected {
  border-bottom: 5px solid var(--color1);
}

/* //////////////////////////////////////////////////////////////////// */
#containerModalRegistro,
#containerModalOpciones {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

#containerModalOpciones {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#containerModalRegistro.show,
#containerModalOpciones.show {
  /* transition: 0.4s; */
  opacity: 1;
  pointer-events: all;
}

/* //// */
/* //// */
#containerModalRegistro{
  padding-top:calc(var(--alto-menu)*1.5) ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
#containerFiltro{
  width: calc(100% - 30px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#containerFiltro > input {
  width: 30%;
}

#listaRegistros {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  /* padding: 5px 10px; */

  border: 1px solid #777;
  border-radius: 5px;
  /* height: 300px; */
  height: calc(99% - var(--alto-menu)*1.5);
  margin: auto;
  /* margin-top: calc(var(--alto-menu)*1.5); */
  /* margin-bottom: calc(var(--alto-menu)*0.5); */
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #333;

  /* color: white; */
}

#listaRegistros>.fila {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px 0;
}

#listaRegistros>.fila:first-child {
  padding: 5px 0;
  font-weight: bold;
  font-size: smaller;
  text-transform: uppercase;
  position: relative;
}

#listaRegistros>.fila:nth-child(odd) {
  background-color: #00000033;
}

#listaRegistros>.fila>.celda {
  /* border: 1px solid greenyellow; */
  /* width: 100%; */
  /* color: #ccc; */
  padding: 1px 5px;
}

#listaRegistros>.fila>.celda:nth-child(1) {
  width: 24%;
}

#listaRegistros>.fila>.celda:nth-child(2) {
  width: 30%;
}

#listaRegistros>.fila>.celda:nth-child(3) {
  width: 10%;
}

#listaRegistros>.fila>.celda:nth-child(4) {
  width: 50%;
}

.btnGuardarRegistro {
  position: absolute;
  /* width: 15px; */
  /* top: 0; */
  padding: 10px 5px;
  height: 15px;
  background-color: var(--color1);
  right: 20px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btnBorrarRegistro {
  position: absolute;
  /* width: 15px; */
  /* top: 0; */
  padding: 10px 5px;
  height: 15px;
  background-color: var(--color2);
  right: 60px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}


/* ////////////////////////////////////////// */
/* /////////// */
#menuActividad {
  position: fixed;
  top: 0 !important;
  left: 0;
  /* height: 10%; */
  width: fit-content;
  padding: 15px 30px;
  overflow: hidden;
  background-color: #00000099;
  border-radius: 0 0 10px;
  z-index: 102;
  display: flex;
  flex-direction: row;
  gap: 15px;
  transition: 0.4s;
  transform: translateY(-99%);
}

#menuActividad.show {
  transform: translateY(0%);
}

#menuActividad>div {
  background: var(--color1);
  font-family: Helvetica, sans-serif;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btnVolverAlInicio {
  background-color: var(--color2) !important;
}

#btnMostrarMenuActividad {
  /* border: 1px solid red; */
  z-index: 101;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 10%;
  text-align: center;
  cursor: pointer;
  /* background-color: #ff000099; */
  color: transparent;
  /* opacity: 0; */
  /* pointer-events: none; */
}

#btnMostrarMenuActividad:active {
  border: 1px solid red;
}

#btnMostrarMenuActividad.show {
  opacity: 1;
  pointer-events: all;
}


/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
#containerPassword {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  display: none;
}

#containerPassword.show {
  display: flex;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  z-index: 10000;
}

#passwordText {
  color: white;
  font-size: 20px;
  /* font-weight: bold; */
  text-transform: uppercase;
  margin-bottom: 20px;
}

#pass {
  font-size: 18px;
}

/* /////////// */

/* ////////////////////////////////////////// */

/* HTML: <div class="loader"></div> */
#miniLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 123456;
  transform: translate(-50%, -50%);
  display: none;
}

#miniLoader.show {
  display: block;

}

#loader {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #fff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn)
  }
}

/* ////////////////////////////////////////// */